body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
#head {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-items: center;
}
.fa-bars:before{
  font-size: 35px;
}
#logo {
  height: 90px;
}
.fa-user-circle:before {
  font-size: 60px;
}
nav {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  background-color: #ffe521;
}
.menuScroll {
  display: flex;
  font-family: 'Bitter', serif;
}
#menuLinksUteis {
  display: flex;
  flex-direction: column;
}
#menu-local, #menu-class {
  border-color: #ff009E;
  background-color: white;
  width: 200px;
  margin: 20px;
  padding: 5px 0px 5px 10px;
  border-radius: 15px;
  font-size: 20px;
}
#menu-local:hover, #menu-class:hover {
  cursor: pointer;
}
#menu-local select, #menu-class select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
  height: 34px;
  width: 268px;
  font-size: 20px;
  background-color: white;
}

ul {
  display: flex;
  font-family: 'Bitter', serif;
  font-size: 25px;
  list-style-type: none;
  padding-left: 8px;
}
li {
  margin-right: 35px;;
  padding: 10px;;
}
li:hover {
  cursor: pointer;
  color: #ff009E;
}
.liSelected {
  color: #ff009E;
  background-color: beige;
}
.mainPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  position: relative;
  text-align: center;
}
#button {
  border-radius: 45px;
  position: fixed;
  z-index: 1;
  top: 39vw;
  left: 45vw;
  background-color: #ff009E;
  padding: 30px;
  border: none;
}

#button:hover {
  cursor: pointer;
  padding: 33px;
  transition: 0.1s;
}

/* Google Charts */
#graph-perfil, #graph-teacher, #graph-jedi {
width: 40vw;
height: 20vw;
}

.mainPerfil, .mainOverview, .mainTermometro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1, .h1{
  font-family: 'Bitter', serif;
  font-size: 30px;
  margin: 40px;
}
#divGraphBarras{
  margin-top: 40px;
}
#overviewchartdesist0{
  display: flex;
  align-self: baseline;
}
#perfilSearchDiv {
  display: flex;
  margin-bottom: 30px;
}
#perfilSearch {
  width: 40vw;
  box-sizing: border-box;
  border: 2px solid #56f89a;
  border-radius: 15px;
  font-size: 20px;
  background-color: white;
  background-position: 10px 10px;
  padding: 10px 20px 10px 40px;
}

.buttonSearch {
  width: 100px;
  height: 40px;
  align-self: center;
  border-radius: 10px;
  color: #ff009E;
  background-color: #ffe521;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
  font-size: solid 15px;
}
.buttonInactiveStudents {
  width: 170px;
  height: 40px;
  align-self: center;
  border-radius: 10px;
  color: #ff009E;
  background-color: #ffe521;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  margin-left: 10px;
}

.dadosPerfil {
  width: 29vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4vw;
  background-color: white;
  padding: 3vw;
  box-shadow: 0 6px 6px -6px #ffe521;;
}
.divMainGraph {
  display:flex;
  width: 70%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}
#overviewchartdesist0, #overviewchart0, #piechart0 {
  margin:30px;
}
#overviewchartdesist1, #overviewchart1, #piechart1 {
  margin:30px;
}
#overviewchartdesist2, #overviewchart2, #piechart2 {
  margin:30px;
}
#overviewchartdesist3, #overviewchart3, #piechart3 {
  margin:30px;
}
.dadosPerfil img {
  margin-right: 1vw;
  width: 12vw;
  height: 12vw;
}

.dadosPerfil p, .dadosPerfil div {
  align-self: flex-end;
  margin-right: 3vw;
}

.pTechScore, .pHseScore {
  background-color: #ffe521;
  color: #ff009E;
  padding: 1vw;
}

.dadosPerfil div {
  color: #ff009E;
}
.mainTermometro h1 {
  align-self: center;
}

#buttonPerfil:hover {
  cursor: pointer;
}

.navSelected {
  color: #ff009E;;
  border-bottom: 8px solid #ff009E;;
}

.fas:hover {
  cursor: pointer;
}

#menuLinksUteis {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#menuLinksUteis:hover, #menuLinksUteis a:hover {
  cursor: pointer;
}

#menuLinksUteis h2, #menuLinksUteis p {
  padding: 1vw;
}

#menuLinksUteis a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#menuLinksUteis a:hover {
  color: #f1f1f1;
}

#menuLinksUteis .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#buttonPlus {
  height: 100%;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  bottom: 15vw;
  height: 10vw;
  left: 30vw;
  background-color: #ff009E;
  color: #ffe521;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  border-radius: 12px;
  overflow-y: hidden;
}

#buttonPlus input {
  margin-bottom: 1vw;
}

.closebtn {
  font-weight: bolder;
  cursor: pointer;
}

.salvarLink {
  text-align: center;
  align-self: flex-end;
  background-color: #ffe521;
  border: none;
  padding: 17px;
  border-radius: 8px;
}

.salvarLink:hover {
  cursor: pointer;
}