#head {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-items: center;
}
.fa-bars:before{
  font-size: 35px;
}
.fa-user-circle:before {
  font-size: 60px;
}

#logo {
  height: 75px;
}
.menuScroll {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
}
nav {
  height: 50px;
}
#menu-local {
  margin: 20px;
  padding: 5px;
  border-radius: 15px;
  border-color: #ffc107
}
#menu-class {
  margin: 20px;
  padding: 5px;
  border-radius: 15px;
  border-color: #ffc107
}
ul {
  display: flex;
  flex-direction: row;
}
footer {
  display: flex;
  justify-content: center;
}
#button {
  border-radius: 10px;
  position: fixed;


}
/* Google Charts */
#graph-perfil, #graph-teacher, #graph-jedi {
width: 40vw;
height: 20vw;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

h1, ul {
  font-family: 'Bitter', serif;
}

main h1 {
  font-family: 'Bitter', serif;
  font-size: 1.5vw;
}

ul {
  display: flex;
  flex-direction: row;
  font-size: 1.5vw;
}

li {
  margin-right: 2vw;
  padding: 1vw;
}

li:hover {
  cursor: pointer;
  color: #ff009E;
}

.liSelected {
  color: #ff009E;
  background-color: beige;
}

.mainPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFEF2
}

#perfilSearchDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 4vw;
}

#perfilSearch {
  width: 27vw;
  box-sizing: border-box;
  border: 2px solid #56f89a;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.buttonSearch, .buttonInactiveStudents {
  width: 6vw;
  height: 3vw;
  align-self: flex-end;
  border-radius: 4px;
  background-color: #ffe521;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonInactiveStudents {
  width: 12vw;
  color: #ff009E;
}

.dadosPerfil {
  width: 29vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4vw;
  background-color: white;
  padding: 3vw;
  box-shadow: 0 6px 6px -6px #ffe521;;
}

.dadosPerfil img {
  margin-right: 1vw;
  width: 12vw;
  height: 12vw;
}

.dadosPerfil p, .dadosPerfil div {
  align-self: flex-end;
  margin-right: 3vw;
}

.pTechScore, .pHseScore {
  background-color: #ffe521;
  color: #ff009E;
  padding: 1vw;
}

.dadosPerfil div {
  color: #ff009E;
}

.mainTermometro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainTermometro h1 {
  align-self: center;
}
